.form {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.input {
    height: 2rem;

    border: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
    border-right: 0px;
}

.button {
    height: auto;

    border: 1px solid lightgray;
    border-radius: 0 5px 5px 0;
    border-left: 0px;
}

.span {
    margin: auto;
}
